[submodule ".deploy_git"]
	path = .deploy_git
	url = https://github.com/yigegongjiang/yigegongjiang.github.io.git
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/yigegongjiang/hexo-theme-next.git
