[submodule ".deploy_git"]
	path = .deploy_git
	url = git@github-personal:yigegongjiang/yigegongjiang.github.io.git
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/next-theme/hexo-theme-next
